<footer>
<div class="footer-links">
    <a href="privacy.html">Privacy Policy</a>
    <a href="terms.html">Terms of Service</a>
</div>
<div class="social-media">
    <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
    <a href="#"><img src="twitter-icon.png" alt="Twitter"></a>
</div>
<div class="contact-info">
    <p>Email: info@volunteerconnect.com</p>
    <p>Phone: +123 456 7890</p>
</div>
</footer>