<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Blogs & Resources</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <h1>Latest Blogs & Resources</h1>

        <div class="blog-post">
            <h2><a href="#">The Importance of Volunteering in Your Community</a></h2>
            <p class="date">Published on October 1, 2024</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel ligula id dui suscipit consequat. Nullam venenatis nulla sed.</p>
            <a href="#" class="read-more">Read More</a>
        </div>

        <div class="blog-post">
            <h2><a href="#">5 Tips for Finding the Right Volunteer Opportunity</a></h2>
            <p class="date">Published on September 15, 2024</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel ligula id dui suscipit consequat. Nullam venenatis nulla sed.</p>
            <a href="#" class="read-more">Read More</a>
        </div>

        <div class="blog-post">
            <h2><a href="#">How to Make a Lasting Impact Through Volunteering</a></h2>
            <p class="date">Published on September 5, 2024</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel ligula id dui suscipit consequat. Nullam venenatis nulla sed.</p>
            <a href="#" class="read-more">Read More</a>
        </div>

        <div class="blog-post">
            <h2><a href="#">Volunteer Spotlight: Meet Our Amazing Volunteers</a></h2>
            <p class="date">Published on August 25, 2024</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel ligula id dui suscipit consequat. Nullam venenatis nulla sed.</p>
            <a href="#" class="read-more">Read More</a>
        </div>

        <div class="blog-post">
            <h2><a href="#">Understanding the Impact of Volunteer Work</a></h2>
            <p class="date">Published on August 15, 2024</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel ligula id dui suscipit consequat. Nullam venenatis nulla sed.</p>
            <a href="#" class="read-more">Read More</a>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Volunteer Connect | <a href="/privacy-policy">Privacy Policy</a> | <a href="/terms">Terms of Service</a></p>
        <p>Follow us on <a href="#">Facebook</a>, <a href="#">Twitter</a>, <a href="#">Instagram</a></p>
    </footer>
</body>
</html>
