<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <div id="sign-in"></div>
    <script type="module">
        import { Clerk } from '@clerk/clerk-js';
        const clerkPubKey = "<%= clerkFrontendApi %>";
        const clerk = new Clerk(clerkPubKey);
        await clerk.load();
        const signInDiv = document.getElementById('sign-in');
        clerk.mountSignIn(signInDiv);
    </script>
</body>
</html>
